@model List<ProducaoModel>

@{
    ViewData["Title"] = "Listagem de Produção";
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}
<body>
    <div class="main-index">
        @Html.Partial("_CadastroProducao", new ProducaoModel())
        <section class="listagem-index">
            <h1> Listagem de Produção</h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nome da produção</th>
                        <th scope="col">Informação da produção</th>
                        <th scope="col">Inicio da produção</th>
                        <th scope="col">Troca de substrato</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fornecedor in Model)
                    {
                        <tr class="table-row" data-id="@fornecedor.Id">
                            <td>@fornecedor.Nome_producao</td>
                            <td>@fornecedor.Info_producao</td>
                            <td>@fornecedor.Ini_producao</td>
                            <td>@fornecedor.Troca_substrato</td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Navegação de página">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <li class="page-item @(ViewBag.PaginaAtual == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { pagina = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
            <div class="action-buttons">
                <button id="btnEditar" class="alterar btn" onclick="editarItem()">Editar</button>
                <button id="btnExcluir" class="excluir btn" onclick="excluirItem()">Apagar</button>
            </div>
        </section>
    </div>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
    <script>
         $('#ini_producao').mask('0000-00-00');
        // Controle de seleção de linha e ações
        let selectedId = null;

        // Função para selecionar uma linha
        document.querySelectorAll('.table-row').forEach(row => {
            row.addEventListener('click', () => {
                document.querySelectorAll('.table-row').forEach(r => r.classList.remove('selected-row'));
                row.classList.add('selected-row');
                selectedId = row.getAttribute('data-id');
            });
        });

        function editarItem() {
            if (selectedId) {
                window.location.href = `@Url.Action("Editar", "Producao")?id=${selectedId}`;
            } else {
                alert("Selecione uma produção para editar.");
            }
        }

        function excluirItem() {
            if (selectedId) {
                window.location.href = `@Url.Action("ApagarConfirmacao", "Producao")?id=${selectedId}`;
            } else {
                alert("Selecione uma produção para excluir.");
            }
        }
    </script>
}
